/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #fafbfc;
    color: #1a202c;
    line-height: 1.6;
    height: 100vh;
}

/* Layout principal: sidebar + main content */
.app-container {
    display: grid;
    grid-template-columns: 250px 1fr; /* Sidebar fix 250px, restul e main content */
    height: 100vh;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column; /* header, content, footer vertical */
    height: 100vh;
    background-color: white;
    border-right: 1px solid lightgray;
}

/* Sidebar header */
.sidebar-header {
    padding: 10px 20px;
    border-bottom: 2px solid black;
}

.sidebar-title {
    font-size: 1.5em;
    font-weight: bold;
}

/* Sidebar content */
.sidebar-content {
    flex: 1;               /* ocupă tot spațiul rămas între header și footer */
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    overflow-y: hidden      /* fara scroll dacă e prea mult conținut (nu va fi cazul) */
}

/* Păstrează login/logout jos */
.auth-buttons {
    margin-top: auto;       /* împinge butoanele în jos */
    border-top:1px solid black;
    display: flex;
    flex-direction: column;
}

/* Sidebar items */
.sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 0.2em;
    font-size: 1rem;
    font-weight: 500;
    color: #64748b;
    text-decoration: none;
    border-bottom: 1px solid black;
    transition: all 0.3s ease;
    font-style: italic;
    cursor: pointer;
}

.sidebar-item:hover {
    background: #f8fafc;
    color: #3b82f6;
    border-right: 2px solid #3b82f6;
}

/* Login / logout buttons */
.login-button, .logout-button {
    background: none;
    border: none;
    cursor: pointer;
    justify-content: flex-start;
    padding-left: 5px;
}

.logout-button:hover {
    color: #d84242;
    border-right: 2px solid #d84242;
}

/* Footer */
.sidebar-footer {
    padding: 20px;
    border-top: 2px solid black;
}

.our-names {
    font-weight: bold;
    padding-top: 5px;
    text-align: left;
}

/* Main content */
.main-content {
    padding: 20px;
    overflow-y: auto;
}
